.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
}

.login_contain{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10), 0 0.5px;
}

.login_contain img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login_contain button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white;
}